{% extends 'base.html'%}
{% block title %}
Market Place
{% endblock %}
{% block content %}
<h1>Market Place</h1>
<div class="container" style="margin-left:1px;">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped table-hover">
        <table class="table"> <h2> <span style="font-weight:bold;">Market Items</span></h2>
          <p> Click on Purchase button to buy an item </p>
            <thead>
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% include 'includes/items_modals.html' %}
                <tr>
                    <td>{{item.id}}</td> 
                    <td>{{item.name}} </td>
                    <td>{{item.barcode}} </td>
                    <td>${{item.price}} </td>
                    <td> 
                        <button class="btn btn-outline btn-info" style="margin: 2px 2px;" data-bs-toggle="modal" data-bs-target="#description-modal-{{item.id}}">Description </button> 
                        <button class="btn btn-outline btn-success" style="margin: 2px 2px;" data-bs-toggle="modal" data-bs-target="#purchase-modal-{{item.id}}">Purchase </button>
                    </td>
                </tr>
                    {% endfor %}
             {# <tr>
              <th scope="row">{{items[0].get("id")}}</th>
              <td>{{items[0].get("Name")}}</td>
              <td>{{items[0].get("Barcode")}}</td>
              <td>{{items[0].get("Price")}}</td>
            </tr>
            <tr>
              <th scope="row">{{items[1].get("id")}}</th>
              <td>{{items[1].get("Name")}}</td>
              <td>{{items[1].get("Barcode")}}</td>
              <td>{{items[1].get("Price")}}</td>
            </tr>
            <tr>
              <th scope="row">{{items[2].get("id")}}</th>
              <td>{{items[2].get("Name")}}</td>
              <td>{{items[2].get("Barcode")}}</td>
              <td>{{items[2].get("Price")}}</td>
            </tr> #} 
            </tbody>
          </table>
      </table>

    </div>
    <div class="col-6 col-md-4"><h2><span style="font-weight:bold;">Owned Items</span></h2>
      <p> Click on Sell button to bring an item on to the market</p>
      
    </div>
  </div>

    
{% endblock %}

